<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertion Status</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/styles.css">
</head>
<body>
    <h2>Book Insertion Status</h2>
    {% if insertion_status %}
        <p>The book was inserted successfully!</p>
    {% else %}
        <p>Failed to insert the book.</p>
    {% endif %}
    <a href="/insert">Go back to Insert Page</a>
</body>
</html>
