<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run SQL Query</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/styles.css">
</head>
<body>
    <a href="/" class="back-to-menu">Menu</a>
    <h2>Run SQL Query</h2>
    <form action="/run_sql_query" method="POST">
        <label for="sql_query">Enter SQL Query:</label><br>
        <textarea id="sql_query" name="sql_query" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" value="Run Query">
    </form>
</body>
</html>
